<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <nav id="navbar" class="navbar">
        <a href="#home" class="nav-link">Home</a>
        <a href="#swiping" class="nav-link">Swiping</a>
        <a href="#results" class="nav-link">Results</a>
        <a href="#about" class="nav-link">About</a>
	</nav>

    <div class="body-container">
        <section class="home" id="home">
            <img class="home-background" src="/static/img/home-background.jpeg">
            <div class="overlay-title">
                <h1>Tinder Prototype</h1>
            </div>
        </section>

        <section class="swiping" id="swiping">
            <h1>IMPLEMENT SWIPING FUNCTIONALITY HERE</h1>
        </section>
        
        <section class="results" id="results">
            <h1>IMPLEMENT RESULTS FUNCTIONALITY HERE</h1>
        </section>
        
        <section class="about" id="about">
            <h1>DISCUSS VARIABLE RATE REINFORCEMENT MEANING HERE</h1>
        </section>
    </div>

    <script src="/static/js/nav-script.js"></script>
</body>